<div class="span1" />
<div class="span8">
  <h2>{{guide.name}}</h2>
  <p>A guide to {{guide.city}}</p>
  
  <table class="table table-striped table-bordered">
    <tr>
      <th>Place</th>
      <th>Address</th>
      <th>Postal Code</th>
    </tr>
  {{#each places}}
    <tr>
      <td><a href="/places/{{this.id}}">{{this.name}}</a></td>
      <td>{{this.location.address}}</td>
      <td>{{this.location.postalCode}}</td>
    </tr>
  {{/each}}
  </table>
</div>
<div class="span1" />
