  <h2>{{guide.name}}</h2>
  <p>{{guide.city}}</p>
  <b>Description</b>
  <p>{{guide.description}}</p>
  <div id="location"></div>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Place</th>
      <th>Address</th>
      <th>Postal Code</th>
    </tr>
  {{#each places}}
    <tr>
      <td><a href="/places/{{this.id}}">{{this.name}}</a></td>
      <td>{{address this}}</td>
      <td>{{postalCode this}}</td>
    </tr>
  {{/each}}
  </table>
  <button class="btn btn-info" id="editButton">Edit Guide</button>
